/* GLOBAL ============================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0; 
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to bottom, #211d28 , #003144);
  min-height: 100vh; 
}

a, a:hover {
    text-decoration: none;
    color: unset;
} 

@media (max-width: 500px)
{
  body {
    background: #F9F9F9; 
  }
}